In [1]:
import pandas as pd

file_train = r"C:\Users\maxin\Documents\Master\Year 1\Period 5\Data Mining\Assignment 2\training_set_VU_DM.csv"
df_train = pd.read_csv(file_train)

In [2]:
df_train.head()
df_train.dtypes
df = df_train.copy()

In [3]:
p = (df_train.isnull().sum()/len(df_train))*100

In [4]:
p

srch_id                         0.000000
date_time                       0.000000
site_id                         0.000000
visitor_location_country_id     0.000000
visitor_hist_starrating        94.920364
visitor_hist_adr_usd           94.897735
prop_country_id                 0.000000
prop_id                         0.000000
prop_starrating                 0.000000
prop_review_score               0.148517
prop_brand_bool                 0.000000
prop_location_score1            0.000000
prop_location_score2           21.990151
prop_log_historical_price       0.000000
position                        0.000000
price_usd                       0.000000
promotion_flag                  0.000000
srch_destination_id             0.000000
srch_length_of_stay             0.000000
srch_booking_window             0.000000
srch_adults_count               0.000000
srch_children_count             0.000000
srch_room_count                 0.000000
srch_saturday_night_bool        0.000000
srch_query_affinity_score      93.598552
orig_destination_distance      32.425766
random_bool                     0.000000
comp1_rate                     97.581250
comp1_inv                      97.387053
comp1_rate_percent_diff        98.095353
comp2_rate                     59.166392
comp2_inv                      57.036710
comp2_rate_percent_diff        88.781786
comp3_rate                     69.056462
comp3_inv                      66.702814
comp3_rate_percent_diff        90.464625
comp4_rate                     93.800797
comp4_inv                      93.069001
comp4_rate_percent_diff        97.356256
comp5_rate                     55.179155
comp5_inv                      52.403089
comp5_rate_percent_diff        83.036706
comp6_rate                     95.156511
comp6_inv                      94.736633
comp6_rate_percent_diff        98.060362
comp7_rate                     93.640058
comp7_inv                      92.811677
comp7_rate_percent_diff        97.206428
comp8_rate                     61.344900
comp8_inv                      59.916016
comp8_rate_percent_diff        87.602118
click_bool                      0.000000
gross_bookings_usd             97.208949
booking_bool                    0.000000
dtype: float64

In [5]:
#Impute a new category 2, that indicates unknown values
#This is done for all competitor values
df_train[['comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv', 'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv', 'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv', 'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv', 'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv', 'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv','comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv', 'comp8_rate_percent_diff']] = df_train[['comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv', 'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv', 'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv', 'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv', 'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv', 'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv','comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv', 'comp8_rate_percent_diff']].fillna(2.0)
df_train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,2.0,2.0,2.0,2.0,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,NaN,0

In [6]:
#Impute price_usd for missing values in gross_bookings_usd
# df_train['gross_bookings_usd'] = df_train['gross_bookings_usd'].fillna(df_train['price_usd'])
# df_train['gross_bookings_usd'].isnull().sum()

#Delete column gross_bookings_usd
df_train = df_train.drop(['gross_bookings_usd'], axis = 1)

In [7]:
#Impute a new category -1 which means no history for previous starratings and price per night
df_train[['visitor_hist_starrating', 'visitor_hist_adr_usd']] = df_train[['visitor_hist_starrating', 'visitor_hist_adr_usd']].fillna(-1)
df_train[['visitor_hist_starrating', 'visitor_hist_adr_usd']].isnull().sum()

visitor_hist_starrating    0
visitor_hist_adr_usd       0
dtype: int64

In [8]:
#Delete the column srch_query_affinity_score because 93.6% of the hotels did not register any searches (lot of missing data)
df_train = df_train.drop(['srch_query_affinity_score'], axis = 1)
df_train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,-1.0,-1.0,219,893,3,3.5,...,2.0,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,0
1,1,2013-04-04 08:32:15,12,187,-1.0,-1.0,219,10404,4,4.0,...,2.0,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,0
2,1,2013-04-04 08:32:15,12,187,-1.0,-1.0,219,21315,3,4.5,...,2.0,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,0
3,1,2013-04-04 08:32:15,12,187,-1.0,-1.0,219,27348,2,4.0,...,2.0,2.0,2.0,2.0,2.0,-1.0,0.0,5.0,0,0
4,1,2013-04-04 08:32:15,12,187,-1.0,-1.0,219,29604,4,3.5,...,2.0,2.0,2.0,2.0,2.0,0.0,0.0,2.0,0,0

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_train[['srch_destination_id', 'prop_country_id', 'orig_destination_distance']].head())

   srch_destination_id  prop_country_id  orig_destination_distance
0                23246              219                        NaN
1                23246              219                        NaN
2                23246              219                        NaN
3                23246              219                        NaN
4                23246              219                        NaN

In [10]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_train[['prop_location_score1', 'prop_location_score2']].head())

   prop_location_score1  prop_location_score2
0                  2.83                0.0438
1                  2.20                0.0149
2                  2.20                0.0245
3                  2.83                0.0125
4                  2.64                0.1241

In [28]:
import numpy as np
# dest = df_train[ 'prop_country_id'].values
# np.unique(dest)


# pd.set_option('display.max_colwidth', None, 'display.max_rows', 20)
# # df_train['prop_location_score2'] = df_train['prop_location_score2'].fillna(df_train.groupby('prop_country_id')['prop_location_score2'].mean())

# df_train[df_train['prop_country_id']==219].head(30)

means = df_train.groupby('prop_country_id')['prop_location_score2'].mean().to_dict()
for index, value in enumerate(df_train['prop_location_score2']):
    if np.isnan(value):
        country  = df_train['prop_country_id'][index]
        for key, value in means.items():
            if key == country:
                df_train['prop_location_score2'][index] == value

# df_train['prop_location_score2'].isnull().sum()
k = df_train[df_train['prop_country_id']==29]
k['prop_location_score2'].mean()
# df_train

nan

In [15]:
df_train['prop_country_id'][1:10]

1    219
2    219
3    219
4    219
5    219
6    219
7    219
8    219
9    219
Name: prop_country_id, dtype: int64

In [ ]:
#Fill the missing value with the value of the row above it
# df_train['prop_location_score2'] = df_train['prop_location_score2'].fillna(method = 'ffill')
# df_train['prop_location_score2'].isnull().sum()

In [ ]:
import matplotlib.pyplot as plt

plt.hist(df['prop_location_score2'])
plt.show()

In [ ]:
plt.hist(df_train['prop_location_score2'])
plt.show()

In [ ]:
# df_train = df_train.drop(['prop_review_score'], axis = 1) 
df_train = df_train.dropna(subset=['prop_review_score'])

In [ ]:
k = (df_train.isnull().sum()/len(df_train))*100
k

In [ ]:
#For the distance we are going to predict the distance by using the search location of the user and hotel location
#For the missing values the predicted distance will be imputed
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics

# lr = LogisticRegression()

# testdf = df_train[df_train['orig_destination_distance'].isnull()==True]
# traindf = df_train[df_train['orig_destination_distance'].isnull()==False]

# y = traindf['orig_destination_distance']
# X = traindf[['srch_destination_id', 'prop_country_id']]

# #Splitting train data into validation and train set
# X_train, X_val,y_train,y_val = train_test_split(X,y,test_size=0.3)

# X_train
# lr.fit(X_train,y_train)

# # y_test = testdf['orig_destination_distance']
# # testdf = testdf[['srch_destination_id', 'prop_country_id']]

# LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
#                    intercept_scaling=1, l1_ratio=None, max_iter=100,
#                    multi_class='auto', n_jobs=None, penalty='l2',
#                    random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
#                    warm_start=False)

# pred = lr.predict(X_val)



# testdf['orig_destination_distance']= pred
# reg.score(X_train, y_train)

In [ ]:
# from sklearn.impute import KNNImputer
# imputer = KNNImputer(n_neighbors=2, weights="uniform")
# imputer.fit_transform(X_train)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import MinMaxScaler


testdf = df_train[df_train['orig_destination_distance'].isnull()==True]
traindf = df_train[df_train['orig_destination_distance'].isnull()==False]

y = traindf['orig_destination_distance']
X = traindf[['srch_destination_id', 'prop_country_id']]

#Splitting train data into validation and train set
X_train, X_val,y_train,y_val = train_test_split(X,y,test_size=0.3)

scaler = MinMaxScaler(feature_range=(0, 1))

x_train_scaled = scaler.fit_transform(X_train)
X_train = pd.DataFrame(x_train_scaled)

x_test_scaled = scaler.fit_transform(X_val)
X_val = pd.DataFrame(x_test_scaled)

In [ ]:
# #import required packages
# from sklearn import neighbors
# from sklearn.metrics import mean_squared_error 
# from math import sqrt
# import matplotlib.pyplot as plt
# %matplotlib inline

# rmse_val = [] #to store rmse values for different k
# for K in range(20):
#     K = K+1
#     model = neighbors.KNeighborsRegressor(n_neighbors = K)

#     model.fit(X_train, y_train)  #fit the model
#     pred=model.predict(X_val) #make prediction on test set
#     error = sqrt(mean_squared_error(y_val,pred)) #calculate rmse
#     rmse_val.append(error) #store rmse values
#     print('RMSE value for k= ' , K , 'is:', error)

In [ ]:
# from sklearn.model_selection import GridSearchCV
# from sklearn import neighbors

# params = {'n_neighbors':[9, 11]}

# knn = neighbors.KNeighborsRegressor()

# model = GridSearchCV(knn, params, cv=5)
# model.fit(X_train,y_train)
# model.best_params_

# #n_neighbors = 9

In [ ]:
# make dummy variables of the features that have information regarding competitors
# comp1_rate
# dummy1 = pd.get_dummies(df_train['comp1_rate'])
# df_dummy1 = dummy1.rename(columns = {(-1): "comp1_rate_-1", 0: "comp1_rate_0", 1: "comp1_rate_1", 2: "comp1_rate_2"})
# # df_train = pd.concat([df_train, df_dummy1], axis = 1)

# # #comp1_inv                      
# dummy2 = pd.get_dummies(df_train['comp1_inv'])
# df_dummy2 = dummy2.rename(columns = {(-1): "comp1_inv_-1", 0: "comp1_inv_0", 1: "comp1_inv_1", 2: "comp1_inv_2"})
# # df_train = pd.concat([df_train, df_dummy2], axis = 1)

# # # comp1_rate_percent_diff        
# dummy3 = pd.get_dummies(df_train['comp1_rate_percent_diff'])
# df_dummy3 = dummy3.rename(columns = {(-1): "comp1_rate_percent_diff_-1", 0: "comp1_rate_percent_diff_0", 1: "comp1_rate_percent_diff_1", 2: "comp1_rate_percent_diff_2"})
# # df_train = pd.concat([df_train, df_dummy3], axis = 1)

# # # comp2_rate                     
# dummy4 = pd.get_dummies(df_train['comp2_rate'])
# df_dummy4 = dummy4.rename(columns = {(-1): "comp2_rate_-1", 0: "comp2_rate_0", 1: "comp2_rate_1", 2: "comp2_rate_2"})
# # df_train = pd.concat([df_train, df_dummy4], axis = 1)

# df_train1 = pd.concat([df_train, df_dummy1], axis = 1)
# df_train2 = pd.concat([df_train1, df_dummy2], axis = 1)
# df_train3 = pd.concat([df_train2, df_dummy3], axis = 1)
# df_train4 = pd.concat([df_train3, df_dummy4], axis = 1)


# # comp2_inv                      
# dummy5 = pd.get_dummies(df_train['comp2_inv'])
# df_dummy5 = dummy5.rename(columns = {(-1): "comp2_inv_-1", 0: "comp2_inv_0", 1: "comp2_inv_1", 2: "comp2_inv_2"})
# df_train = pd.concat([df_train, df_dummy5], axis = 1)

# # comp2_rate_percent_diff        
# dummy6 = pd.get_dummies(df_train['comp2_rate_percent_diff'])
# df_dummy6 = dummy6.rename(columns = {(-1): "comp2_rate_percent_diff_-1", 0: "comp2_rate_percent_diff_0", 1: "comp2_rate_percent_diff_1", 2: "comp2_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy6], axis = 1)

# # comp3_rate                     
# dummy7 = pd.get_dummies(df_train['comp3_rate'])
# df_dummy7 = dummy7.rename(columns = {(-1): "comp3_rate_-1", 0: "comp3_rate_0", 1: "comp3_rate_1", 2: "comp3_rate_2"})
# df_train = pd.concat([df_train, df_dummy7], axis = 1)

# # comp3_inv                      
# dummy8 = pd.get_dummies(df_train['comp3_inv'])
# df_dummy8 = dummy8.rename(columns = {(-1): "comp3_inv_-1", 0: "comp3_inv_0", 1: "comp3_inv_1", 2: "comp3_inv_2"})
# df_train = pd.concat([df_train, df_dummy8], axis = 1)

# # comp3_rate_percent_diff        
# dummy9 = pd.get_dummies(df_train['comp3_inv'])
# df_dummy9 = dummy9.rename(columns = {(-1): "comp3_rate_percent_diff_-1", 0: "comp3_rate_percent_diff_0", 1: "comp3_rate_percent_diff_1", 2: "comp3_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy9], axis = 1)

# # comp4_rate                     
# dummy9 = pd.get_dummies(df_train['comp4_rate'])
# df_dummy9 = dummy9.rename(columns = {(-1): "comp4_rate_-1", 0: "comp4_rate_0", 1: "comp4_rate_1", 2: "comp4_rate_2"})
# df_train = pd.concat([df_train, df_dummy9], axis = 1)

# # comp4_inv                      
# dummy10 = pd.get_dummies(df_train['comp4_inv'])
# df_dummy10 = dummy10.rename(columns = {(-1): "comp4_inv_-1", 0: "comp4_inv_0", 1: "comp4_inv_1", 2: "comp4_inv_2"})
# df_train = pd.concat([df_train, df_dummy10], axis = 1)

# # comp4_rate_percent_diff        
# dummy11 = pd.get_dummies(df_train['comp4_rate_percent_diff'])
# df_dummy11 = dummy11.rename(columns = {(-1): "comp4_rate_percent_diff_-1", 0: "comp4_rate_percent_diff_0", 1: "comp4_rate_percent_diff_1", 2: "comp4_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy11], axis = 1)

# # comp5_rate                     
# dummy12 = pd.get_dummies(df_train['comp5_rate'])
# df_dummy12 = dummy12.rename(columns = {(-1): "comp5_rate_-1", 0: "comp5_rate_0", 1: "comp5_rate_1", 2: "comp5_rate_2"})
# df_train = pd.concat([df_train, df_dummy12], axis = 1)

# # comp5_inv                      
# dummy13 = pd.get_dummies(df_train['comp5_inv'])
# df_dummy13 = dummy13.rename(columns = {(-1): "comp5_inv_-1", 0: "comp5_inv_0", 1: "comp5_inv_1", 2: "comp5_inv_2"})
# df_train = pd.concat([df_train, df_dummy13], axis = 1)

# # comp5_rate_percent_diff    
# dummy14 = pd.get_dummies(df_train['comp5_rate_percent_diff'])
# df_dummy14 = dummy14.rename(columns = {(-1): "comp5_rate_percent_diff_-1", 0: "comp5_rate_percent_diff_0", 1: "comp5_rate_percent_diff_1", 2: "comp5_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy14], axis = 1)

# #comp6_rate   
# dummy15 = pd.get_dummies(df_train['comp6_rate'])
# df_dummy15 = dummy15.rename(columns = {(-1): "comp6_rate_-1", 0: "comp6_rate_0", 1: "comp6_rate_1", 2: "comp6_rate_2"})
# df_train = pd.concat([df_train, df_dummy15], axis = 1)

# #comp6_inv  
# dummy16 = pd.get_dummies(df_train['comp6_inv'])
# df_dummy16 = dummy16.rename(columns = {(-1): "comp6_inv_-1", 0: "comp6_inv_0", 1: "comp6_inv_1", 2: "comp6_inv_2"})
# df_train = pd.concat([df_train, df_dummy16], axis = 1)

# #comp6_rate_percent_diff   
# dummy17 = pd.get_dummies(df_train['comp6_rate_percent_diff'])
# df_dummy17 = dummy17.rename(columns = {(-1): "comp6_rate_percent_diff_-1", 0: "comp6_rate_percent_diff_0", 1: "comp6_rate_percent_diff_1", 2: "comp6_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy17], axis = 1)

# # comp7_rate 
# dummy18 = pd.get_dummies(df_train['comp7_rate'])
# df_dummy18 = dummy18.rename(columns = {(-1): "comp7_rate_-1", 0: "comp7_rate_0", 1: "comp7_rate_1", 2: "comp7_rate_2"})
# df_train = pd.concat([df_train, df_dummy18], axis = 1)

# # comp7_inv   
# dummy19 = pd.get_dummies(df_train['comp7_inv'])
# df_dummy19 = dummy19.rename(columns = {(-1): "comp7_inv_-1", 0: "comp7_inv_0", 1: "comp7_inv_1", 2: "comp7_inv_2"})
# df_train = pd.concat([df_train, df_dummy19], axis = 1)

# # comp7_rate_percent_diff     
# dummy20 = pd.get_dummies(df_train['comp7_rate_percent_diff'])
# df_dummy20 = dummy20.rename(columns = {(-1): "comp7_rate_percent_diff_-1", 0: "comp7_rate_percent_diff_0", 1: "comp7_rate_percent_diff_1", 2: "comp7_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy20], axis = 1)

# # comp8_rate  
# dummy21 = pd.get_dummies(df_train['comp8_rate'])
# df_dummy21 = dummy21.rename(columns = {(-1): "comp8_rate_-1", 0: "comp8_rate_0", 1: "comp8_rate_1", 2: "comp8_rate_2"})
# df_train = pd.concat([df_train, df_dummy21], axis = 1)

# # comp8_inv
# dummy22 = pd.get_dummies(df_train['comp8_inv'])
# df_dummy22 = dummy22.rename(columns = {(-1): "comp8_inv_-1", 0: "comp8_inv_0", 1: "comp8_inv_1", 2: "comp8_inv_2"})
# df_train = pd.concat([df_train, df_dummy22], axis = 1)

# # comp8_rate_percent_diff 
# dummy23 = pd.get_dummies(df_train['comp8_rate_percent_diff'])
# df_dummy23 = dummy23.rename(columns = {(-1): "comp8_rate_percent_diff_-1", 0: "comp8_rate_percent_diff_0", 1: "comp8_rate_percent_diff_1", 2: "comp8_rate_percent_diff_2"})
# df_train = pd.concat([df_train, df_dummy23], axis = 1)








# def make_dummy(feature, name):
#     dummy1 = pd.get_dummies(feature)
#     df_dummy1 = dummy1.rename(columns = {-1: name + "_-1", 0: name+"_0", 1: name + "_1", 2: name +"_2"})
#     df_train = pd.concat([df_train, df_dummy1], axis = 1)
#     df_train = df_train.drop(feature)
#     return df_train

# dummies = ["comp1_rate_percent_diff",  "comp2_rate", "comp2_inv", "comp2_rate_percent_diff", "comp3_rate", "comp3_inv",
#            "comp3_rate_percent_diff", "comp4_rate", "comp4_inv", "comp4_rate_percent_diff", "comp5_rate", "comp5_inv",
#            "comp5_rate_percent_diff"]


# dummies = ["comp1_rate_percent_diff"]

# for i in dummies:
#     make_dummy(df_train[i], i)

# df_dummy1
# df_train4

In [ ]:
df_train

In [ ]:
df_train.columns

In [ ]:
dummy[dummy[-1] == 1]

In [ ]:
df_train.comp1_rate.unique()

In [ ]:
df_train[df_train[]]