In [46]:
import pandas as pd
df = pd.read_csv('part_clean.csv')

In [48]:
df.head()

,Unnamed: 0,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,0,AI,yes,no,no,no,female,02-05-1998,0,23:00,coffee,sun
1,1,CS,yes,no,no,no,male,29-02-2000,200,32,7777,8964
2,2,Computational Science,yes,yes,no,yes,male,29-06-1998,0,x,0,0
3,3,Bioinformatics and Systems Biology,yes,no,unknown,no,male,11-05-1997,20,14:00,good food,no stress
4,4,AI,yes,yes,no,yes,male,03-10-1997,2,07:20,Sunshine,Good Food

In [50]:
ai = ["A.I", "Aritificial Intelligence", "artificial intelligence","AI","ai","Masters in Artificial Intelligence","AI for health","Artificial intelligence","MSc. AI at UvA ","MSc AI","Master Artificial Intelligence","MSc AI @ UvA","Masters AI","Ai","Artificial intelligence master","MSc Artificial Intelligence","MSc AI","MSc in AI","M Artificial Intelligence","AI Masters","Master AI","AI Cognitive Science Track","VU Master of AI","Artificial Intelligence","Artificial Intelligence MsC"]
d = dict.fromkeys(ai,'AI')
df["What programme are you in?"] = df["What programme are you in?"].replace(d)

In [51]:
df.head()

,Unnamed: 0,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,0,AI,yes,no,no,no,female,02-05-1998,0,23:00,coffee,sun
1,1,CS,yes,no,no,no,male,29-02-2000,200,32,7777,8964
2,2,Computational Science,yes,yes,no,yes,male,29-06-1998,0,x,0,0
3,3,Bioinformatics and Systems Biology,yes,no,unknown,no,male,11-05-1997,20,14:00,good food,no stress
4,4,AI,yes,yes,no,yes,male,03-10-1997,2,07:20,Sunshine,Good Food

In [53]:
df["What programme are you in?"].value_counts()

AI                            98
CS                            33
Computational Science         23
Business Analytics            14
BA                             8
                              ..
Data Science                   1
business analytics             1
MSc Mathematics                1
M Artificial Intelligence      1
FinTech                        1
Name: What programme are you in?, Length: 96, dtype: int64

In [54]:
df.to_csv("some_clean.csv")